<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light p-2 mr-auto">
      <a class="navbar-brand" href="/lists">
        <img src="https://www.freeiconspng.com/thumbs/movie-icon/movie-icon-24.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Movie Lists
      </a>

      <div class="btn-group">
        <button class="btn btn-outline-secondary my-2 my-sm-0">My lists</button>
        <button class="btn btn-outline-success my-2 my-sm-0">New list</button>
      </div>

    </nav>

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t3.ftcdn.net/jpg/04/20/20/76/360_F_420207646_g9oAqxYCdZHGLWBVqhIVmvyCdidvxypU.jpg);">
      <div class="container">
        <h1>Movie Watchlists</h1>
        <p>Save your favorite movies</p>
      </div>
    </div>
    <div class="container p-5">
    <%= yield %>
    </div>
  </body>
</html>
